:root {
  --yellow: #ffeb3b;
}

body {
  background: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
  margin: 0;
}

.title {
  color: #fff;
  overflow: hidden; 
  border-right: .15em solid var(--yellow); 
  white-space: nowrap;
  margin: 0 auto 20px;
  letter-spacing: .15em;
  animation: typing 3.5s steps(40, end), 
    blink-caret .75s step-end infinite;
  font-family: "Montserrat", sans-serif;
  max-width: 975px;
}

.icon {
  cursor: pointer;
  height: 32px;
  width: 32px;
  display: inline-flex;
  border-radius: 50%;
  animation: fadeInOut .8s;
}

.icon:hover {
  transform: scale(1.2);
}

.icon--github { 
  background:url("images/github.svg");
  margin-right: 10px;
}

.icon--linkedin {
  background:url("images/linkedin.svg");
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: var(--yellow); }
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 9px;
    max-width: 275px;
  }
}