.coursesSection{
	width: 100%;
	margin-top: 50px;
	
	img {
		border-radius:50%; 
		width: 60px;
    	height: 60px;
	}

	h2 {
		font-size: 20px;
	}

	&__courses{
		padding: 10px 0;
		background: $white;
		@include box-shadow(2px 4px 11px $gray);
		width: 90%;
		display: inline-block;
		margin-bottom: 20px;

		&::after{
			content: "";
		    display: table;
		    clear: both;
		}


		h2 {
			width: 100%;
		    display: -webkit-box;
		    -webkit-line-clamp: 1;
		    -webkit-box-orient: vertical;
		    overflow: hidden;
		    text-overflow: ellipsis;
		}
	}
}